@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-bg-dark: #141416;
  --ui-bg-light-dark: #1b1b1d;
  --color-primary: #BBEAA6;
  --color-error: #E74D6A;
  
  --ui-primary: var(--color-primary);
  --ui-error: var(--color-error);
  --ui-bg: var(--ui-color-white);
}

.dark {
  --ui-primary: var(--color-primary);
  --ui-error: var(--color-error);
  --ui-bg: var(--ui-bg-dark);
}

.bg-default {
  @apply bg-[var(--ui-bg-light-dark)];
}